@import url("https://fonts.cdnfonts.com/css/general-sans");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: #000000;
  font-family: "General Sans", sans-serif;
}

:root {
  --cr-main-1: #2ac9de;
  --cr-main-2: #f087f4;
  --cr-1: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 20%);
  --cr-2: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 35%);
  --cr-3: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 50%);
  --cr-4: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 65%);
  --cr-5: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 80%);
}

@layer utilities {
  .c-space {
    @apply sm:px-10 px-5;
  }

  .head-text {
    @apply sm:text-4xl text-3xl font-semibold;
    background: linear-gradient(to bottom, #191919, #62646c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .nav-ul {
    @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-20;
  }

  .nav-li {
    @apply text-neutral-400 hover:text-white font-generalsans max-sm:hover:bg-black-500 max-sm:w-full max-sm:rounded-md py-2 max-sm:px-5;
  }

  .nav-li_a {
    @apply text-lg md:text-base hover:text-white transition-colors;
  }

  .nav-sidebar {
    @apply absolute left-0 right-0 bg-black-200 backdrop-blur-sm transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
  }

  .text-gray_gradient {
    @apply bg-gradient-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent;
  }

  /* button component */
  .btn {
    @apply flex gap-4 items-center justify-center cursor-pointer p-3 rounded-md transition-all active:scale-95 text-white mx-auto;
  }

  .btn-ping {
    @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75;
  }

  .btn-ping_dot {
    @apply relative inline-flex rounded-full h-3 w-3 bg-green-500;
  }
  .custom-button {
    position: relative;
    width: 220px;
    border-radius: 20px;
    background: radial-gradient(
      circle,
      rgba(225, 188, 206, 0.2) 0%,
      rgba(190, 203, 240, 0.2) 100%
    );
    overflow: hidden;
    z-index: 1;
  }

  @media (max-width: 640px) {
    .custom-button {
      width: 200px;
    }
  }

  .custom-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    padding: 3px;
    background: linear-gradient(
      90deg,
      rgba(190, 203, 240, 1) 0%,
      rgba(225, 188, 206, 1) 100%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    z-index: -1;
    pointer-events: none;
  }

  /* girl section */
  .girl_tag {
    @apply text-left xl:text-6xl md:text-5xl sm:text-3xl font-generalsans font-black !leading-normal;
  }

  /* about section */
  .custom-border {
    position: relative;
    width: 100%;
    border-radius: 30px 10px 10px 10px;
    overflow: hidden;
    z-index: 1;
  }

  .custom-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 4px;
    background: linear-gradient(to bottom, #e1bcce, #becbf0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    z-index: -1;
    pointer-events: none;
  }

  .grid-container {
    @apply w-full h-full rounded-lg sm:p-10 flex flex-col gap-5;
  }

  .grid-headtext {
    @apply text-xl font-semibold mb-2 text-white font-generalsans;
  }

  .grid-subtext {
    @apply text-[#afb0b6] text-base font-generalsans;
  }

  .copy-container {
    @apply cursor-pointer flex justify-center items-center gap-2;
  }

  .about-section {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    width: 100%;
    max-width: 1200px;
    height: 531px;
    margin: 0 auto;
  }

  .about-inner {
    width: 100%;
    height: 100%;
    border-radius: 25px 5px 5px 5px;
    background: #0e0e0e;
    overflow: hidden;
  }

  .about-top-bar {
    width: 100%;
    height: 40px;
    background: linear-gradient(
      to right,
      rgba(242, 242, 242, 0.1) 10%,
      rgba(242, 242, 242, 0.1) 11%
    );
    position: absolute;
    top: 0;
    left: 0;
  }

  .dot {
    width: 9px;
    height: 9px;
    background: #606268;
    border-radius: 50%;
    position: absolute;
  }

  .dot-1 {
    left: 28px;
    top: 18px;
  }

  .dot-2 {
    left: 43px;
    top: 18px;
  }

  .dot-3 {
    left: 58px;
    top: 18px;
  }

  .line {
    position: absolute;
    width: 1px;
    height: 100vh;
    z-index: 1;
  }

  .line::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 230, 250, 0.8)
    );
    animation: fall var(--ani-duration) var(--ani-delay) linear infinite;
  }

  @keyframes fall {
    0% {
      top: -100px;
    }
    100% {
      top: 100%;
    }
  }

  .pt-110 {
    padding-top: 110px;
  }

  .hexagon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }

  .hexagon {
    position: relative;
    width: 100px;
    height: 57.74px;
    background-color: rgba(255, 255, 255, 0.1);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transition: all 0.3s ease;
    margin: 5px;
  }

  .text-input-field {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;

    border-radius: 8px;
    overflow: hidden;
  }

  .typing-animation {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-family: "Pacifico", cursive;
    font-weight: bold;
    font-size: larger;
    letter-spacing: 0.25em;
    padding-top: 120px;
    width: 100%;
    text-align: center;
    animation: typing 4s steps(12) 1s infinite,
      blink 0.5s step-end infinite alternate;
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    90% {
      width: 100%;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .grid-container img {
    animation: fadeInScale 1s ease-in-out forwards;
  }

  /* Default styles for base (less than 640px) */
  .px-24 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .px-25 {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
  }

  /* Styles for small screens (640px and up) */
  @media (min-width: 640px) {
    .px-24 {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    .px-25 {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  /* Styles for medium screens (768px and up) */
  @media (min-width: 768px) {
    .px-24 {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }

    .px-25 {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  /* Styles for large screens (1024px and up) */
  @media (min-width: 1024px) {
    .px-24 {
      padding-left: 15rem;
      padding-right: 15rem;
    }

    .px-25 {
      padding-left: 18rem;
      padding-right: 18rem;
    }
  }

  /* Additional media queries for specific components */
  @media (max-width: 440px) {
    /* Adjustments for small mobile screens */
    .custom-button {
      width: 180px;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    /* Adjustments for tablets */
    .about-container {
      max-width: 90%;
      height: 500px;
    }
    .about-right-bar {
      max-width: 90%;
      height: 500px;
    }
  }

  .unique {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    overflow: hidden;
  }

  .unique-container {
    position: relative;
    transform: skewY(-20deg);
  }

  .unique-container .unique-cube {
    position: relative;
    translate: calc(var(--z) * 60px) calc(var(--z) * 60px);
  }

  .unique-container .unique-cube .unique-div {
    position: absolute;
    translate: calc(-70px * var(--x)) calc(-70px * var(--y));
  }

  .unique-container .unique-cube .unique-div .unique-span {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #dcdcdc;
    transition: 0.5s;
  }

  .unique-container .unique-cube .unique-div .unique-span.active {
    background: #41b5ef;
    transform: translate(0, -30px);
  }

  .unique-container .unique-cube .unique-div .unique-span::before {
    content: "";
    position: absolute;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #c8c8c8;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
  }

  .unique-container .unique-cube .unique-div .unique-span.active::before {
    background: #5dcef7;
  }

  .unique-container .unique-cube .unique-div .unique-span::after {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #c2d7e1;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 1.5s;
    box-shadow: -20px 20px 5px rgba(0, 0, 0, 0.15);
  }

  .unique-container .unique-cube .unique-div .unique-span.active::after {
    background: #4edbf1;
  }

  /* projects section  */
  .arrow-btn {
    @apply w-10 h-10 p-3 cursor-pointer active:scale-95 transition-all rounded-full arrow-gradient;
  }

  .tech-logo {
    @apply w-10 h-10 rounded-md p-2 bg-neutral-100 bg-opacity-10 backdrop-filter backdrop-blur-lg flex justify-center items-center;
  }

  /*  work experience section */
  .work-container {
    @apply grid lg:grid-cols-3 grid-cols-1 gap-5 mt-12;
  }

  .work-canvas {
    @apply col-span-1 rounded-lg bg-black-200 border border-black-300;
  }

  .work-content {
    @apply col-span-2 rounded-lg bg-black-200 border border-black-300;
  }

  .work-content_container {
    @apply grid grid-cols-[auto_1fr] items-start gap-5  transition-all ease-in-out duration-500 cursor-pointer hover:bg-black-300 rounded-lg sm:px-5 px-2.5;
  }

  .work-content_logo {
    @apply rounded-3xl w-16 h-16 p-2 bg-black-600;
  }

  .work-content_bar {
    @apply flex-1 w-0.5 mt-4 h-full bg-black-300 group-hover:bg-black-500 group-last:hidden;
  }

  .coming-soon-text {
    letter-spacing: 0.4em;
    text-align: center;
  }

  .letter-animation {
    display: inline-block;
    animation: letter-scale 1.5s infinite;
    animation-delay: calc(0.1s * var(--i));
  }

  @keyframes letter-scale {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }

  /* contact section */
  .contact-container {
    max-width: 36rem;
    position: relative;
    padding-bottom: 20px;
  }

  .blobs {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    filter: blur(140px);
  }

  .blob {
    width: max(240px, 28vw);
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center;
  }

  .blob:nth-of-type(1) {
    background: var(--cr-main-1);
  }

  .blob:nth-of-type(2) {
    background: var(--cr-main-2);
  }

  .blob:nth-of-type(3) {
    background: var(--cr-1);
  }

  .blob:nth-of-type(4) {
    background: whitesmoke;
  }

  .blob:nth-of-type(5) {
    background: var(--cr-3);
  }

  .blob:nth-of-type(6) {
    background: var(--cr-4);
  }

  .blob:nth-of-type(7) {
    background: var(--cr-2);
  }

  .field-label {
    @apply text-lg text-white-600;
  }

  .field-input {
    @apply w-full bg-black-300 px-5 py-2 min-h-14 rounded-lg placeholder:text-white-500 text-lg text-white-800 shadow-black-200 shadow-2xl focus:outline-none;
  }

  .field-btn {
    @apply bg-black-500 px-5 py-2 min-h-12 rounded-lg shadow-black-200 shadow-2xl flex justify-center items-center text-lg text-white gap-3;
  }

  .field-btn_arrow {
    @apply w-2.5 h-2.5 object-contain invert brightness-0;
  }

  /*  footer */
  .social-icon {
    @apply w-12 h-12 rounded-full flex justify-center items-center bg-black-300 border border-black-200;
  }

  .letter-spacing-wide {
    letter-spacing: 0.08em;
  }
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.arrow-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #1e1e1e;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  margin: 2.5px 4.5px;
}

.circle:hover {
  width: 50px;
  height: 50px;
  border-radius: 0;
  background-color: #1e1e1e;
}

.glitch {
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

.unique-cylinder {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100px;
  margin: 10px;
}

.unique-circle {
  width: 50px;
  height: 50px;
  background-color: #dcdcdc;
  border-radius: 50%;
  transition: 0.5s;
}

.unique-rect {
  width: 50px;
  height: 50px;
  background-color: #dcdcdc;
  transition: 0.5s;
}

.unique-circle.active,
.unique-rect.active {
  background-color: #ef4149;
}
